* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* to be amended */
input,
button,
label {
  font-size: clamp(.9rem, 1.1vw, 1.5rem);
}
/* to be amended */


body {
  background-color: black;
  height: 100vh;
}

.container {
  display: flex;
}

.prompt {
  padding: 12rem 3rem;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.button {
  justify-content: end;
  align-items: center;
}


/* to be amended */
.title-font {
  font-size: clamp(0.9rem, 1vw, 1.5rem);
}

.window-width {
  width: clamp(270px, 50%, 400px);
}
/* to be amended */